
body {
    background-image: url("frontImages/bg.jpg"); 
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #ffffff;
    overflow-x:hidden;
    width: inherit;
    position: relative;
    
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

h1 {
    font-size: 10vh;
    font-weight: 600;
    display: block;
    background-color: black;
    color: white;
    line-height: 1.5em;
    width: 75%;
    margin-left: 25%;
    margin-top: 1%;
}
.thirdBar, .fourthBar, .fifthBar {
    font-size: 4.9vh;
    font-weight: 600;
    display: block;
    background-color: black;
    color: white;
    line-height: 2em;
    width: 65%;
}
.fourthBar {
    margin-left: 0%;
    text-align: left;
    margin-bottom: 3%;
    position: relative;
}
.thirdBar {
    margin-left: 35%;
    text-align: right;
     position: relative;
}

.fifthBar {
    margin-left: 0%;
    text-align: left;
    position:absolute;
    line-height: 0em;
    font-weight: 300;
    padding: 0px;
    bottom: 13%;
    width: 30%;
}
.imageTab {
    margin-bottom: 8vh;
}
.imageBoxes {
    display: inline-block;
    background-color: black;
    padding: 10px;
    vertical-align: top;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
}
.imageBoxes img {
    height: 10vw;
    padding: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imageBoxText {
    color: white;
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
}
.vinhBox img {
    background-color: black;
    width: 28vh;
    padding: 18px;
}
.vinhBox {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
    padding: 0px;
}
.imageTab {
    vertical-align: middle;
}
.bottomBar {
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 1.5em;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.bottomBar img {
    display: inline-block;
    width: 8vh;
    margin: 1vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}
.fadeableImageBox:hover {
    animation-name: fade;
    animation-duration: .7s;
    animation-iteration-count: 1;
    opacity: .7
}

.bottomBar img:hover, h3:hover, h4:hover {
    opacity: .7
}

.leftify, .rightify {
        position: relative;
}

.aboutmetext
{
    font-size: 1.7vmax;
    font-weight: 600;
    display: block;
    background-color: black;
    color: white;
    line-height: 1.5em;
    width: 80%;
    left: 110%;
    height: 50%;
    top: 0%;
    padding: 10px;
    position: absolute;
    
}

a {
    color: #0099ff;
}

.languagestext
{
    font-size: 2vw;
    font-weight: 600;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 1.5em;
    width: 80%;
    position:absolute;
    left: 110%;
    top: 70%;
    padding: 10px;
    
}


.flapBox, .musicQuizBox, .CircBox, .GeomBox
{
    font-size: 3.5vw;
    font-weight: 600;
    display: block;
    background-color: black;
    color: white;
    
    padding: 10px;
    position:absolute;
    top: 1%;
    left: -110%;
    margin-bottom: 0px;
    height: 35%;
    line-height: 1;
    width: 48%;
}

.flapBox h7, .musicQuizBox h7 , .CircBox h7, .GeomBox h7
{
    position: absolute;
}

.CircBox, .musicQuizBox
{
    top: 40%;
    height: 31%;
}

.flapBox, .musicQuizBox
{
    left: -58%;

}

.GeomBox p, .flapBox p, .CircBox p, .musicQuizBox p
{
    font-size: 1.3vw;
    padding: 1px;
    margin-top: 8%;
    width: 45%;    
}


h1, .thirdBar, .fourthBar, .vinhBox img, .bottomBar,  .imageBoxes, .aboutmetext, .languagestext, #projectBox{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-color:rgba(0, 0, 0, 0.8);
   
}


.appstorelogo
{
    margin-top: 12px;
    padding-left: 32%;
    height: 2.5vw;
    display: block;
}

.advideo
{
    position: absolute;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 10%;
    padding: 5px 15px;
    position: absolute;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 30%;
    position: absolute;
}

#adpic
{
    visibility: visible;
    display:block !important;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.ProjBoxRight
{
    position: relative;
    float: right;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
    margin-left: 5%;
    

}