node/nodetest1/WorkProcessor/bin/Debug/RetrieveData.exe
node/nodetest1/WorkProcessor/bin/Debug/RetrieveData.pdb
node/nodetest1/WorkProcessor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
node/nodetest1/WorkProcessor/obj/Debug/RetrieveData.csproj.FileListAbsolute.txt
node/nodetest1/WorkProcessor/obj/Debug/RetrieveData.csprojResolveAssemblyReference.cache
node/nodetest1/WorkProcessor/obj/Debug/RetrieveData.exe
node/nodetest1/WorkProcessor/obj/Debug/RetrieveData.pdb
node/nodetest1/WorkProcessor/bin/Debug/RetrieveData.vshost.exe
DevPartnerWebReceiver/ConsoleApplication1/bin/Debug/ConsoleApplication1.exe
DevPartnerWebReceiver/ConsoleApplication1/bin/Debug/ConsoleApplication1.pdb
DevPartnerWebReceiver/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe
